body {
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  font-family: "Exo 2", sans-serif;
  background: #E9E9E9;
}

#Profile {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card {
  position: relative;
  width: 315px;
  margin: 30px auto;
  z-index: 2;
  box-shadow: 0 0 100px rgba(0, 0, 0, .3);
}

.card-header {
  position: relative;
  height: 356px;
  background-size: cover;
  background-position: top;
}

.card-header:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(58, 96, 229, 0.77), rgba(181, 181, 181, 0.1));
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  border: none;
  overflow: hidden;
}

.card-header-slanted-edge {
  position: absolute;
  bottom: -5px;
  z-index: 1;
  width: 315px;
  right: 0;
  left: 0;
}

.card-body {
  background: white;
  text-align: center;
  padding-left: 10px;
}

.card-body a {
  text-decoration: none;
}

.name {
  color: #525252;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
}

.job-title {
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
  color: #595959;
}

.bio {
  font-size: 14px;
  color: #595959;
  font-weight: 300;
  margin: 10px auto;
  line-height: 20px;
}

.social-accounts {
  padding: 10px;
}

.social-accounts img {
  width: 20px;
}

.social-accounts a {
  margin-left: 10px;
}

.social-accounts a:first-child {
  margin-left: 0;
}

#credits {
  position: absolute;
  width: 100%;
  margin: auto;
  bottom: 0;
  margin-bottom: 20px;
  color: #727272;
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: center;
}