:root{
    /* --primary-color-darkest:hsl(5,62%,33%);
    --primary-color-darker:hsl(5,62%,42%);
    --primary-color-dark:hsl(5,62%,53%);
    --primary-color:hsl(5,62%,60%);
    --primary-color-light:hsl(5,65%,73%);
    --primary-color-lighter:hsl(5,75%,85%);
    --primary-color-lightest:hsl(5,80%,95%); */
    /* --primary-color-darkest:hsl(198,57%,20%);
    --primary-color-darker:hsl(197,100%,21%);
    --primary-color-dark:hsl(196,100%,31%);
    --primary-color:hsl(196,94%,40%);
    --primary-color-light:hsl(200,59%,60%);
    --primary-color-lighter:hsl(201,74%,81%);
    --primary-color-lightest:hsl(201,78%,96%); */
    --primary-color-darkest:hsl(168, 58%, 12%);
    --primary-color-darker:hsl(168, 72%, 17%);
    --primary-color-dark:hsl(168, 76%, 33%);
    --primary-color:hsl(168, 72%, 38%);
    --primary-color-light:hsl(168, 85%, 55%);
    --primary-color-lighter:hsl(168, 90%, 68%);
    --primary-color-lightest:hsl(168, 92%, 80%);
    
    --main-background-color:hsl(223, 19%, 21%);
}
html, body{
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
    font-family: Harmonia Sans W01,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Fira Sans,sans-serif;
    overflow-x: hidden;
}
.content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.profile-card{
    display: flex;
    flex-direction: column;
    border-radius:35px;
    width:400px;
    height: 600px;
    box-shadow: 0 10px 20px rgba(42,51,83,.15),0 3px 6px rgba(0,0,0,.10);
    overflow: hidden;
}
.white-half{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex:5;
    -webkit-flex-grow: 5;
    background-color: white;
}
.primary-half{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex:4;
    -webkit-flex-grow: 4;
    background-color: var(--primary-color);
}
.color-primary{
    color: var(--primary-color);
}
.color-primary-light{
    color: var(--primary-color-light)
}
.color-primary-lighter{
    color: var(--primary-color-lighter)
}
.color-primary-lightest{
    color: var(--primary-color-lightest)
}
.color-primary-dark{
    color: var(--primary-color-dark)
}
.color-primary-darker{
    color: var(--primary-color-darker)
}
.color-primary-darkest{
    color: var(--primary-color-darkest)
}
.profile-image{
    width:200px;
    height: 200px;
    border-radius: 100%;
}
.h2, .h3{
    margin: 0;
    text-align: center;
}
a {
  color: inherit; 
  text-decoration: inherit; 
}
.social{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.social-item{
    color: var(--primary-color-darkest);
}